@import url("global.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{
    font-family: "Rubik";
    font-weight: bold;
}

body{
    background-color: var(--eggshell);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.time p{
    margin: 0px;
    margin-right: 20px;
}

.forum-page{
    position: relative;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forum-container{
    width: 300px;
    max-height: 70vh;
    background-color: var( --hijau-sean);
    border: 3px solid var(--bean);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    padding: 1vw;
}

.forum-container input{
    width: 100%;
    border-radius: 0.5vw;
    background-color: var(--eggshell);
}

#submit-button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    /* font-weight: bold; */
    background-color: var(--hijau-sean-hover);
    color: var(--eggshell);
    transition-duration: 500ms;
}

#inputforum-text{
    font-size: 20px;
    margin: 0;
    color: var(--eggshell);
    /* font-weight: bold; */
}

.forum-container label{
    color: var(--eggshell);
}

#linkbox-text{
    background-color: var(--eggshell);
    border-radius: 0.5vw;
}