:root{
    --bean:#3C1518;
    --hijau-sean:#153C39;
    --eggshell:#F5EFDC;
    --tea-rose:#D0ADA7;
    --blood-red:#69140E;

    /* transparancy 50 */
    --bean-50:#3c1518bb;
    --hijau-sean-50:#153c3994;
    --eggshell-50:#f5efdc8c;
    --tea-rose-50:#d0ada796;
    --blood-red-50:#69140e94;

    /* hover */
    --bean-hover:#832b30;
    --hijau-sean-hover:#21615b;
    --eggshell-hover:#858070fd;
    --tea-rose-hover:#705d59;
    --blood-red-hover:#490e0a;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CSS Navbar */

.nav-bar{
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10%;
    background-color: var(--bean);
    color: var(--eggshell);
}

.nav-inside{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 1.5vw;
}

.nav-inside a{
    text-decoration: none;
    color: var(--eggshell);
    transition-duration: 500ms;
}

.nav-inside p{
    margin: 0;
    margin-left: 40px;
}

.nav-inside a:hover{
    text-decoration: none;
    color: var(--eggshell-hover);
}

.dropdown {
    position: relative;
}
  
.dropdown-forum:hover .dropdown-item{
    height: fit-content;
    width: 91px;
    padding: 15px;
    margin-bottom: 10px;
}

.dropdown-announcement:hover .dropdown-item {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    margin-bottom: 10px;
}
  
.dropdown-item {
    position: absolute;
    background-color: var(--bean-50);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 0%;
    overflow: hidden;
    left: -10%;
    top: 100%;
    transition-duration: 500ms;
}

#time{
    display: flex;
    flex-direction: column;
}

#time p{
    margin: 0px;
    margin-right: 25px;
}

#time-clock{
   font-size: 25px;
}

/* CSS Navbar */

#snow-canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
}

.bangun {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    border: solid 3px black;
    background-color: var(--blood-red);
    color: var(--eggshell);
    width: 600px;
    text-align: center;
    border-radius: 20px;
    padding: 30px 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; 
    display: none;  
}

.bangun .active {
    display: block;
}

.bbut {
    margin: auto;
    border-style: none;
    width: 200px;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--tea-rose);
    color: var(--eggshell);
    border: solid 1px black;
}

.quiz-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.629);
    z-index: 1000;
    position: absolute;
}

.quiz-container{
    background-color: var(--tea-rose);
    color: var(--bean);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20; 
}

#title-quiz{
    font-size: 30px;
}

.jawab{
    border-radius: 10px;
    border-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    width: 100%;
}

.jawab input{
    background-color: var(--eggshell);
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
}

.jawaban_subco {
    overflow-y: scroll;
    height: 30vh;
}

.jawab input::placeholder{
    color: var(--bean);
}

#submit-button{
    background-color: var(--bean);
    padding: 5px;
    color: var(--eggshell);
    width: 150px;
    border-radius: 5px;
    border-style: none;
    transition-duration: 500ms;
}

#submit-button:hover{
    background-color: var(--bean-hover);
}

#image-temp{
    background-color: var(--eggshell);
    width: 100px;
    height: 100px;
    margin: auto;
}

.quiz-container .active {
    display: block; 
}

.inactive{
    display : none;
}

.active{
    display : block;
}

@media screen and (max-width: 810px) {
    .clock {
        width: 500px;
        font-size: 70px;
    }
}

@media screen and (max-width: 765px) {
    .nav-inside{
        gap: 20px;
        margin-left: 3vw;
    }

    .nav-inside a{
        font-size: 15px;
    }

    #time-clock {
        font-size: 25px;
    }
}

@media screen and (max-width: 690px) {
    .nav-inside{
        gap: 15px;
        margin-left: 3vw;
    }

    .nav-inside a{
        font-size: 15px;
    }

    #time-clock {
        font-size: 25px;
    }
}

@media screen and (max-width: 610px) {
    .clock {
        width: 400px;
        font-size: 60px;
    }
}