:root{
    --bean:#3C1518;
    --hijau-sean:#153C39;
    --eggshell:#F5EFDC;
    --tea-rose:#D0ADA7;
    --blood-red:#69140E;

    /* transparancy 50 */
    --bean-50:#3c151889;
    --hijau-sean-50:#3b4a2c89;
    --eggshell-50:#f5efdc8c;
    --tea-rose-50:#d0ada796;
    --blood-red-50:#69140e94;

    /* hover */
    --bean-hover:#963138;
    --hijau-sean-hover:#26301c;
    --eggshell-hover:#858070fd;
    --tea-rose-hover:#705d59;
    --blood-red-hover:#490e0a;
}

/* CSS Navbar */

.nav-bar{
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10%;
    background-color: var(--bean);
    color: var(--eggshell);
}

.nav-inside{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-inside a{
    text-decoration: none;
    color: var(--eggshell);
    transition-duration: 500ms;
}

.nav-inside p{
    margin: 0;
    margin-left: 40px;
}

.nav-inside a:hover{
    text-decoration: none;
    color: var(--eggshell-hover);
}

.time{
    display: flex;
    flex-direction: column;
}

.time p{
    margin: 0px;
    margin-right: 25px;
}

#time-clock{
    font-size: 30px;
}

/* CSS Navbar */

#snow-canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
}
