@import url("global.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

input:focus{
    outline: none;
}

*{
    font-family: "rubik";
    font-weight: bold;
}

body{
    margin: 0;
    padding: 0;
    background: #F5EFDC;
}

.container {
    position: relative;
}

.wrapper {
    /* padding: 20px; */
    /* margin-top: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.forum{
    margin-left: 40px;
}

#parent{
    margin-top: 5vh;
}

.judul {
    border: 0px;
    border-radius: 10px;
    height: 7.5vh;
    width: 80vw;
    background: #3b4a2c;
}

.judul .heading {
    color: #F5EFDC;
    padding-top: 10px;
}

.page1 {
    width: 80vw;
    height: 7.5vh;
    border-radius: 10px;
    display: flex;
}

.baris1 {
    background-color: #F5EFDC;
}

.baris2 {
    background-color: #D0ADA7;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    max-width: 80vw;
}

.isinya {
    color: #3C1518;
}

li {
    width: 27.5vw;
    text-align: center;
}

.butt_on {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    top: 20px;
}