
input:focus{
    outline: none;
}

*{
    font-family: "rubik";
    font-weight: bold;
}

body{
    margin: 0;
    overflow: hidden;
}

#nav-bar{
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10%;
    background-color: #3C1518;
    color: #F5EFDC;
}

#forum{
    margin-left: 40px;
}

.nav-inside{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-inside a{
    text-decoration: none;
    color: #F5EFDC;
}

.time p{
    margin: 0px;
    margin-right: 20px;
}

/* navbar */

.wrapper {
    /* margin-top: 70px;
    padding: 20px; */
    margin-top: 70px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

/* .leaderboardborder {
    border-radius: 10;
} */
.section1{
    width: 50vw;
    height: 50vh;
    position: relative;
    padding-left: 1rem;
}

.left-section{
    display:flex;
    flex-direction: column;
}

.section2{
    width: 50vw;
    height: 50vh;
    position: relative; 
    padding-left: 1rem;
}

.section3{
    width: 50vw;
    height: 50vh;
    position: relative;
    padding-left: 1rem;
}

.judul {
    border: 0px;
    border-radius: 10px;
    height: 40px;
    width: 45vw;
    background: #3b4a2c;
}

.heading {
    color: #F5EFDC;
    padding-top: 10px;
}

.isinya {
    color: #3C1518;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.baris1 {
    margin: 0;
    height: 40px;
    width: 45vw;
    border-radius: 10px;
    background: #D0ADA7;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.baris2 {
    margin: 0;
    height: 40px;
    width: 45vw;
    border-radius: 10px;
    background: #F5EFDC;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.baris3 {
    margin: 0;
    height: 40px;
    width: 45vw;
    border-radius: 10px;
    background: #D0ADA7;
    display: flex;
    align-items: center;
    justify-content: center; 
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    /* margin: 10px; */
    padding-right: 30px;
}

/* .isinya {

} */