@import url("global.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

input:focus{
    outline: none;
}

*{
    font-family: "rubik";
    font-weight: bold;
}

body{
    margin: 0;
    background: #F5EFDC;
    overflow: hidden;
}

#forum{
    margin-left: 40px;
}

.time p{
    margin: 0px;
    margin-right: 20px;
}

/* .forum {
    display: flex;
    justify-content: center;
    
} */

.wrapper {
    /* margin-top: 70px;
    padding: 20px; */
    margin-top: 70px;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .leaderboardborder {
    border-radius: 10;
} */

.judul {
    border: 0px;
    border-radius: 10px;
    height: 40px;
    width: 80vw;
    background: #3b4a2c;
}

.heading {
    color: #F5EFDC;
    padding-top: 10px;
}

.isinya {
    color: #3C1518;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.baris1 {
    margin: 0;
    height: 40px;
    border-radius: 10px;
    background: #F5EFDC;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.baris2 {
    margin: 0;
    height: 40px;
    border-radius: 10px;
    background: #D0ADA7;
    display: flex;
    align-items: center;
    justify-content: center; 
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    /* margin: 10px; */
    padding-right: 30px;
}

.butt_on {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    top: 20px;
}

/* .isinya {

} */