@import url("./global.css");

input:focus{
    outline: none;
}

*{
    font-family: "rubik";
    font-weight: bold;
}

body{
    margin: 0;
    overflow: hidden;
}

.login-form{
    position: relative;
    z-index: 1000;
    top: 20vh;
}

.login-page{
    width: 100vw;
    height: 100vh;
    background-color: var(--hijau-sean);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
    width: 300px;
    height: 350px;
    background-color: var(--eggshell);
    border: 3px solid var(--bean);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 15px;
}

#login-text{
    font-size: 40px;
    margin: 0;
    color: var(--bean);
    padding: 10px;
    border-bottom: 2px solid var(--bean);
}

.usn, .pass{
    display: flex;
    flex-direction: column;
}

.usn p, .pass p{
    margin-bottom: 5px;
    color: var(--bean);
}

.usn input, .pass input{
    width: 98%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--bean);
    color: var(--eggshell);
}

.pass input{
    margin-bottom: 15px;
}

#submit-button{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--bean);
    color: var(--eggshell);
    transition-duration: 500ms;
}

#submit-button:hover {
    background-color: var(--bean-hover);
}

#snow-canvas{
    z-index: 5;
}