@import url("./global.css");

input:focus{
    outline: none;
}

*{
    font-family: "rubik";
    font-weight: bold;
}

body{
    margin: 0;
    overflow: hidden;
}

.main-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    
}

.time {
    display: flex;
    margin-top: 10vh;
    height: 80vh;
    width: 70vw;
    align-items: center;
    justify-content: center;
    color: var(--bean);
}

.time p{
    margin: 0px;
    margin-right: 20px;
    font-size: 60px
}

#time-clock {
    font-size: 12.5vw;
}

.info-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 10vh;
    height: 80vh;
    width: 20vw;
}

.forum-container, .bp-container, .case-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forum-container p, .bp-container p, .case-container p{
    font-size: 30px;
    margin: 0;
    margin-bottom: 5px;
}

.forum-list, .bp-list, .case-list{
    width: 80%;
    height: 90%;
    border: 2px solid var(--bean);
    border-radius: 10px;
}

.forum-list{
    background-color: var(--tea-rose-50);
}

.bp-list{
    background-color: var(--hijau-sean-50);
}

.case-list{
    background-color: var(--blood-red-50);
}

/* CSS Modal */

.modal-quiz{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.501);
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container{
    position: absolute;
    width: 350px;
    height: 450px;
    background-color: var(--tea-rose);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--bean);
    border-radius: 10px;
}

#title-quiz{
    margin: 0;
    font-size: 30px;
}

#image-temp{
    width: 100px;
    height: 100px;
    background-color: rgb(215, 236, 255);
    border-radius: 5px;
}

#siapa{
    margin: 0;
    font-size: 20px;
}

.modal-container input{
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--eggshell);
    color: var(--bean);
}

.modal-container input::placeholder{
    color: var(--bean);
}

#submit-button{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--bean);
    color: var(--eggshell);
}

#hide{
    display: none;
}