<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/announcement.css')}}">
    <title>Annoucement</title>
</head>
<body>
    <!-- Dari database -->
    <nav class="nav-bar">
        <div class="nav-inside">
            <a id="forum" href="{{url_for('static', filename='forum.html')}}">Forum</a>
            <a href="{{url_for('static', filename='leaderboard.html')}}">Leaderboard</a>
            <a href="{{url_for('static', filename='subco.html')}}">Subco</a>
            <a href="{{url_for('static', filename='announcement.html')}}">Announcement</a>
        </div>
        <div class="time">
            <p>server time</p>
            <p id="time-clock">23:59</p>
        </div>
    </nav>
</body>
</html>