<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="leaderboardForum.css" type="text/css">
    <title>Leaderboard</title>
</head>
<body>
    <div>
        <nav id="nav-bar">
            <div class="nav-inside">
                <a id="forum" href="">Forum</a>
                <a href="">Leaderboard</a>
                <a href="">Subco</a>
                <a href="">Announcement</a>
            </div>
            <div class="time">
                <p>server time</p>
                <p id="time-clock">23:59</p>
            </div>
        </nav>
        <div class="wrapper">
            <!-- <div class="leaderboardborder"> -->
                <div class="section1">
                    <div class="judul">
                        <ul class="heading">
                            <li>No</li>
                            <li>Name</li>
                            <li>Jumlah</li>
                        </ul>
                    </div>  
                    <div class="baris1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                </div>
                <div class="left-section">
                    <div class="section2">
                        <h1>TOP 3</h1>
                        <div class="judul">
                            <ul class="heading">
                                <li>No</li>
                                <li>Name</li>
                                <li>Jumlah</li>
                            </ul>
                        </div>  
                        <div class="baris1">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris2">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris3">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                    </div>

                    <div class="section3">
                        <h1>BOTTOM 3</h1>
                        <div class="judul">
                            <ul class="heading">
                                <li>No</li>
                                <li>Name</li>
                                <li>Jumlah</li>
                            </ul>
                        </div>  
                        <div class="baris1">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris2">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris3">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</body>
</html>