<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/leaderboardForum.css')}}" type="text/css">
    <title>Leaderboard</title>
    <script src="{{url_for('static',filename='JS/auth/auth.js')}}"></script>
</head>
<body>
    <div>
        <nav class="nav-bar">
            <div class="nav-inside">
                <a href="{{url_for('main')}}">25-1</a>
                <div class="dropdown dropdown-forum">
                    <a class="forum" href="{{ url_for('forum') }}">Forum</a>
                    <div class="dropdown-item">
                        <a id="forum_add" href="{{ url_for('forum_add')}}">Forum ADD</a>
                        <br>
                        <a id="forum_list" href="{{ url_for('forum_list')}}">Forum LIST</a>
                    </div>
                </div>
                <a href="{{url_for('progress')}}">Progress</a>
                <a href="{{url_for('case')}}">Case</a>
                <a href="{{url_for('leaderboard_case')}}">Case Toppers</a>
                <div class="dropdown dropdown-announcement">
                    <a class="announcement" href="{{ url_for('leaderboard_progress') }}">Leaderboard Progress</a>
                    <a class="dropdown-item" href="{{ url_for('leaderboard')}}">Leaderboard Forum</a>
                </div>
                <a href="{{url_for('subco')}}">Subco</a>
                <div class="dropdown dropdown-announcement">
                    <a class="announcement" href="{{ url_for('announcement') }}">Announcement</a>
                    <a class="dropdown-item" href="{{ url_for('input_announcement')}}">Input Announcement</a>
                </div>
                <a href="{{url_for('gallery')}}">Gallery</a>
                <a href="{{url_for('index')}}">Logout</a>
            </div>

            <div id="time">
                <p>Server Time :</p>
                <p id="time-clock"></p>
            </div>
        </nav>
        <div class="wrapper">
            <!-- <div class="leaderboardborder"> -->
                <div class="section1">
                    <div class="judul">
                        <ul class="heading">
                            <li>No</li>
                            <li>Name</li>
                            <li>Jumlah</li>
                        </ul>
                    </div>  
                    <div class="baris1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                </div>
                <div class="left-section">
                    <div class="section2">
                        <h1>TOP 3</h1>
                        <div class="judul">
                            <ul class="heading">
                                <li>No</li>
                                <li>Name</li>
                                <li>Jumlah</li>
                            </ul>
                        </div>  
                        <div class="baris1">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris2">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris3">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                    </div>

                    <div class="section3">
                        <h1>BOTTOM 3</h1>
                        <div class="judul">
                            <ul class="heading">
                                <li>No</li>
                                <li>Name</li>
                                <li>Jumlah</li>
                            </ul>
                        </div>  
                        <div class="baris1">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris2">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                        <div class="baris3">
                            <ul class="isinya">
                                <li>1. </li>
                                <li>T999 - Budiono Siregar - CS - B29</li>
                                <li>99</li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <script src="{{url_for('static',filename='JS/alarm.js')}}"></script>
</body>
</html>