<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/leaderboard.css')}}">
    <title>Leaderboard</title>
</head>
<body>
    <div>
        <nav id="nav-bar">
            <div class="nav-inside">
                <a id="forum" href="{{url_for('static', filename='forum.html')}}">Forum</a>
                <a href="{{url_for('static', filename='leaderboard.html')}}">Leaderboard</a>
                <a href="{{url_for('static', filename='subco.html')}}">Subco</a>
                <a href="{{url_for('static', filename='announcement.html')}}">Announcement</a>
            </div>
            <div class="time">
                <p>server time</p>
                <p id="time-clock">23:59</p>
            </div>
        </nav>
        <div class="wrapper">
            <div class="forum">
                <h1>FORUM</h1>
            </div>
                <div class="leaderhead">
                    <div class="judul">
                        <ul class="heading">
                            <li>No</li>
                            <li>Name</li>
                            <li>Jumlah</li>
                        </ul>
                    </div>  
                    <div class="baris1 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris1 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris1 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris1 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris1 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page1">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>


                    <div class="baris1 page2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris1 page2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris1 page2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris2 page2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>
                    <div class="baris1 page2">
                        <ul class="isinya">
                            <li>1. </li>
                            <li>T999 - Budiono Siregar - CS - B29</li>
                            <li>99</li>
                        </ul>
                    </div>

                    <div class="butt_on">
                        <button type="button" class="butt_on1"> 1 </button>
                        <button type="button" class="butt_on2"> 2 </button>
                    </div>
                </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='JS/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='JS/javascript.js')}}"></script>
</body>
</html>