<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAR 25-1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/loginPage.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/reindeer.css')}}">

    <script>
        sessionStorage.clear()
    </script>
</head>
<body>
    <section class="login-page">
        <img src="{{url_for('static', filename='assets/christmas-tree.png')}}" alt="" class="hiasan christmas-tree">
        <img src="{{url_for('static', filename='assets/gifts.png')}}" alt="" class="hiasan gifts">
        <canvas id="snow-canvas"></canvas>
        <nav class="nav-bar">
            <div class="nav-inside">
                <a href="">25-1</a>
                <div class="dropdown dropdown-forum">
                    <a class="forum" href="">Forum</a>
                    <div class="dropdown-item">
                        <a id="forum_add" href="">Forum ADD</a>
                        <br>
                        <a id="forum_list" href="">Forum LIST</a>
                    </div>
                </div>
                <a href="">Progress</a>
                <div class="dropdown dropdown-announcement">
                    <a class="announcement" href="">Leaderboard Progress</a>
                    <a class="dropdown-item" href="">Leaderboard Forum</a>
                </div>
                <a href="">Subco</a>
                <div class="dropdown dropdown-announcement">
                    <a class="announcement" href="">Announcement</a>
                    <a class="dropdown-item" href="">Input Announcement</a>
                </div>
                <a href="">Gallery</a>
                <a id="forum_list" href="{{ url_for('register')}}">Register</a>
            </div>
    
            <div id="time">
                <p>Server Time :</p>
                <p id="time-clock"></p>
            </div>
        </nav>
        {% if flag==1 %}
        <h1>Salah Login wey</h1>
        {% endif %}
        <form class="login-form" method="POST" action="/login">
            <div class="login-container">
               
                <div>
                    <p id="login-text">Login</p>
                </div>
                <div class="usn">
                    <p>Username</p>
                    <input type="text" id="trainee_number" name="trainee_number" required>
                </div>
                <div class="pass">
                    <p>Password</p>
                    <input type="password" id="trainee_pass" name="trainee_pass" required>
                </div>
                <button id="submit-button" type="submit">Submit</button>
            </div>
        </form>
        <div class="scene">
            <div class="reindeer-wrapper">
                <div class="reindeer">
                  <div class="body"></div>
                  <div class="leg front"></div>
                  <div class="leg back"></div>
                  <div class="name-tag">kentang</div>
                  <div class="head">
                    <div class="antler left"></div>
                    <div class="antler right"></div>
                    <div class="eye left"></div>
                    <div class="eye right"></div>
                    <div class="nose"></div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="{{url_for('static',filename='JS/alarm.js')}}"></script>
<script src="{{url_for('static',filename='JS/snow.js')}}"></script>
<!-- reuse yg kosong hehe T212 -->
<script src="{{url_for('static',filename='JS/quiz.js')}}" defer></script>
</html>