<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='loginPage.css')}}">
</head>
<body>
    <section class="login-page">
        
        <nav id="nav-bar">
            <div class="nav-inside">
                <a id="forum" href="">Forum</a>
                <a href="">Leaderboard</a>
                <a href="">Subco</a>
                <a href="">Announcement</a>
            </div>
            <div class="time">
                <p>server time</p>
                <p id="time-clock">23:59</p>
            </div>
        </nav>
        <form method="POST" action="/login">
            <div class="login-container">
                <div>
                    <p id="login-text">Login</p>
                </div>
                <div class="usn">
                    <p>Username</p>
                    <input type="text" id="trainee_number" name="trainee_number" required>
                </div>
                <div class="pass">
                    <p>Password</p>
                    <input type="text" id="trainee_pass" name="trainee_pass" required>
                </div>
                <button id="submit-button" type="submit">Submit</button>
            </div>
        <form>

        {% if results %}
        <h2>Results:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Trainee Number</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Batch</th>
                </tr>
            </thead>
            <tbody>
                {% for trainee in results %}
                <tr>
                    <td>{{ trainee[0] }}</td> 
                    <td>{{ trainee[1] }}</td> 
                    <td>{{ trainee[2] }}</td> 
                    <td>{{ trainee[3] }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif results is not none %}
        <p>No results found.</p>
        {% endif %}
    </section>
</body>
</html>