<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAR 25-1</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/mainPage.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/reindeer.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/background.css')}}">
    <script>
        if(!sessionStorage.getItem("userInitials")) {
            sessionStorage.setItem("userInitials", "{{ results['trainee_number']}}")
        }
        if(!sessionStorage.getItem("userName"))  {
            sessionStorage.setItem("userName", "{{ results['trainee_nama']}}")
        }
        if(!sessionStorage.getItem("userMajor")) {
            sessionStorage.setItem("userMajor", "{{ results['trainee_major'] }}")
        }
        if(!sessionStorage.getItem("userBinusian")) {
            sessionStorage.setItem("userBinusian", "{{ results['trainee_binusian']}}")
        }
    </script>
</head>
<body>
    <img src="{{url_for('static', filename='assets/christmas-tree.png')}}" alt="" class="hiasan christmas-tree">
    <img src="{{url_for('static', filename='assets/gifts.png')}}" alt="" class="hiasan gifts">
    <canvas id="snow-canvas"></canvas>
    <section class="container">
        <nav class="nav-bar">
            <div class="nav-inside">
                <a href="{{url_for('main')}}">25-1</a>
                <div class="dropdown dropdown-forum">
                    <a class="forum" href="{{ url_for('forum') }}">Forum</a>
                    <div class="dropdown-item">
                        <a id="forum_add" href="{{ url_for('forum_add')}}">Forum ADD</a>
                        <br>
                        <a id="forum_list" href="{{ url_for('forum_list')}}">Forum LIST</a>
                    </div>
                </div>
                <a href="{{url_for('leaderboard')}}">Leaderboard</a>
                <a href="{{url_for('subco')}}">Subco</a>
                <div class="dropdown dropdown-announcement">
                    <a class="announcement" href="{{ url_for('announcement') }}">Announcement</a>
                    <a class="dropdown-item" href="{{ url_for('input_announcement')}}">Input Announcement</a>
                </div>
                <a href="{{url_for('gallery')}}">Gallery</a>
            </div>
            
            <h2 id="welcome-text"> Welcome, {{trainee_numb}} {{trainee_nama}} </h2>

            <div id="time">
                <p>Server Time :</p>
                <p id="time-clock"></p>
            </div>
        </nav>
        <div class="clock">
            <h2>Server Time</h2>
            <div id="big-time"></div>
        </div>
        <div class="bangun inactive" id="bangunPop"> 
            <h1>!!!BANGUN BANGUN!!!</h1>
            <button class="bbut" onclick="popout()">Turn Off</button>
        </div>
        <!-- <button onclick="death()">tinung</button> -->
   
        <div class="quiz-modal inactive" id="quiz1">
            <div class="quiz-container inactive" id="quiz2">
                <p id="title-quiz">Trainee Quiz</p>
                <div id="image-temp">
                    <img src="{{quiz_trainee_photo}}" alt="Trainee Image" id="trainee-img">
                </div>
                <p id="siapa">Siapa Trainee ini? </p>
                <div id="data-container" data-flag="{{flag}}"></div>
                <form method="POST" action="/checkForm" class="jawab" id="trainee-form">
                    <input type="text" name="trainee_id" placeholder="Nomor Trainee">
                    <input type="text" name="trainee_name" placeholder="Nama Trainee">
                    <input type="text" name="trainee_major" placeholder="Jurusan">
                    <input type="text" name="trainee_batch" placeholder="Binusian">
                    <button type="submit" id="submit-button">Submit</button>
                </form>
            </div>
        </div>
        <div class="scene">
            <div class="reindeer-wrapper">
                <div class="reindeer">
                  <div class="body"></div>
                  <div class="leg front"></div>
                  <div class="leg back"></div>
                  <div class="name-tag">kentang</div>
                  <div class="head">
                    <div class="antler left"></div>
                    <div class="antler right"></div>
                    <div class="eye left"></div>
                    <div class="eye right"></div>
                    <div class="nose"></div>
                  </div>
                </div>
            </div>
          </div>
    </section>
</body>
<script src="{{url_for('static',filename='JS/alarm.js')}}"></script>
<script src="{{url_for('static',filename='JS/snow.js')}}"></script>
<script>
    document.getElementById("welcome-text").innerHTML = `Welcome, ${sessionStorage.getItem("userInitials")} ${sessionStorage.getItem("userName")}`
</script>
</html>

