<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/mainPage.css')}}">
</head>
<body>
    <section class="main-page">
        <nav class="nav-bar">
            <div class="nav-inside">
                <a id="forum" href="">Forum</a>
                <a href="">Leaderboard</a>
                <a href="">Subco</a>
                <a href="">Announcement</a>
            </div>
            <div class="time">
                <p>server time</p>
                <p id="time-clock">23:59</p>
            </div>
        </nav>
         <div class="info-container">
            <div class="forum-container">
                <p>Forum</p>
                <div class="forum-list">
                    <!-- isi -->
                </div>
            </div>
            <div class="bp-container">
                <p>BP</p>
                <div class="bp-list">
                    <!-- isi -->
                </div>
            </div>
            <div class="case-container">
                <p>Case</p>
                <div class="case-list">
                    <!-- isi -->
                </div>
            </div>
         </div>
    </section>
</body>
</html>