<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/registerPage.css')}}">
</head>
<body>
    <section class="login-page">
        <nav class="nav-bar">
            <div class="nav-inside">
                <a href="">25-1</a>
                <div class="dropdown dropdown-forum">
                    <a class="forum" href="">Forum</a>
                    <div class="dropdown-item">
                        <a id="forum_add" href="">Forum ADD</a>
                        <br>
                        <a id="forum_list" href="">Forum LIST</a>
                    </div>
                </div>
                <a href="">Leaderboard</a>
                <a href="">Subco</a>
                <div class="dropdown dropdown-announcement">
                    <a class="announcement" href="">Announcement</a>
                    <a class="dropdown-item" href="">Input Announcement</a>
                </div>
                <a href="">Gallery</a>
                <a href="{{url_for('index') }}">Login</a>
            </div>

            <div id="time">
                <p>Server Time :</p>
                <p id="time-clock"></p>
            </div>
        </nav>
        <div class="Regis-container"> <!--ada di loginpage.css-->
            <div>
                <p id="login-text">Register</p>
            </div>
            <div class="usn">
                <p>Username</p>
                <input type="email" name="" id="">
            </div>
            <div class="pass">
                <p>Password</p>
                <input type="password" name="" id="">
            </div>
            <div class="confirmpass">
                <p>Password</p>
                <input type="password" name="" id="">
            </div>
            <button id="submit-button" type="submit">Submit</button>
        </div>
        <p class="login-link">Apakah Anda sudah punya akun? <a href="loginPage.html">Login</a></p>
        <script src="{{url_for('static',filename='JS/alarm.js')}}"></script>
    </section>
</body>
</html>