<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/subco.css')}}">
</head>
<body>
    <div class="question">
        <div class="card">
            <h2>Subco Flashcard</h2>
            <div id="subco">
                Jelaskan bagaimana cara algoritma A* menemukan path terpendek
            </div>
            <button id="show">Show answer</button>
        </div>
    </div>
    <div class="answer hidden">
        <div class="card">
            <h2>Answer</h2>
            <div id="subco">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore alias incidunt magni eaque culpa, asperiores iste maxime laudantium neque ratione ea aliquam cum repudiandae eos? Dicta laudantium voluptate non repellendus.</div>
            <div class="wrapper">
                <button id="prev">Show question</button>
                <button id="next">Next question</button>
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='JS/alarm.js')}}"></script>
</body>
</html>